<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftos</title>
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
</head>

<body>
    <!-- Header section -->
    <div class="heading"><a href="#Giftos">Giftos</a></div>
    <!-- nav bar section start -->
    <div class="navbar">
        <a class="active" href="#home">home</a>
        <a href="#shop">shop</a>
        <a href="#why us">why us</a>
        <a href="#Testimonial">Testimonial</a>
        <a href="#Contact Us">Contact Us</a>
        <a href=""><i class="fa fa-user"></i><span>login</span></a>
        <a href=""><i class="fa fa-shopping-bag"></i></a>
        <a href=""><i class="fa fa-search"></i></a>
    </div>
    </div>
    <!-- Endting of navbar section -->
    <!-- slider content section start -->
    <div class="section">
        <div class="content">
            <div class="contentpara">
                <h1>Welcome To Our
                    Gift Shop</h1>
                <blockquote>Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non necessitatibus error
                    distinctio mollitia suscipit. Nostrum fugit doloribus consequatur distinctio esse, possimus maiores
                    aliquid repellat beatae cum, perspiciatis enim, accusantium perferendis.</blockquote>
                <a href="#">Contact Us</a>
            </div>
            <div class="contentimg">
                <img src="/images/slider-img.png" alt="slider-img">
            </div>
            <div class="sliderbtnbox">
                <div class="sliderbtn">
                    <a href=""><i class="fa fa-arrow-left" style="float: left;"></i></a>
                    <img src="/images/line.png" alt="line">
                    <a href=""><i class="fa fa-arrow-right" style="float: right;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- slider content section start end -->
    <!-- Product section -->
    <div class="container">
        <div class="product">
            <div class="productheading">
                <h1>Latest Products</h1>
            </div>
            <!-- Product Image section start -->
            <div class="productimg">
                <div class="productbox">
                    <div class="row">
                        <div class="box">
                            <div class="col">
                                <a href>
                                    <div class="imgbox">
                                        <img src="/images/p1.png" alt="ring" style="width: 110px;" height="140px">
                                    </div>
                                    <div class="detail">
                                        <h6 style="float: left;">Ring</h6>
                                        <h6 style="float: right;">Price <span>$200</span></h6>
                                    </div>
                                    <div class="new">
                                        <span>new</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box">
                            <div class="col">
                                <a href>
                                    <div class="imgbox">
                                        <img src="/images/p2.png" alt="ring" style="width: 80px;" height="145px">
                                    </div>
                                    <div class="detail">
                                        <h6 style="float: left;">Watch</h6>
                                        <h6 style="float: right;">Price <span>$300</span></h6>
                                    </div>
                                    <div class="new">
                                        <span>new</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box">
                            <div class="col">
                                <a href>
                                    <div class="imgbox">
                                        <img src="/images/p3.png" alt="ring" style="width: 135px;" height="145px">
                                    </div>
                                    <div class="detail">
                                        <h6 style="float: left;">Teddy Bear</h6>
                                        <h6 style="float: right;">Price <span>$110</span></h6>
                                    </div>
                                    <div class="new">
                                        <span>new</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box">
                            <div class="col">
                                <a href>
                                    <div class="imgbox">
                                        <img src="/images/p4.png" alt="ring" style="width: 160px;" height="145px">
                                    </div>
                                    <div class="detail">
                                        <h6 style="float: left;">Flower Bouquet</h6>
                                        <h6 style="float: right;">Price <span>$45</span></h6>
                                    </div>
                                    <div class="new">
                                        <span>new</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box">
                            <div class="col">
                                <a href>
                                    <div class="imgbox">
                                        <img src="/images/p5.png" alt="ring" style="width: 130px;" height="145px">
                                    </div>
                                    <div class="detail">
                                        <h6 style="float: left;">Teddy Bear</h6>
                                        <h6 style="float: right;">Price <span>$95</span></h6>
                                    </div>
                                    <div class="new">
                                        <span>new</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box">
                            <div class="col">
                                <a href>
                                    <div class="imgbox">
                                        <img src="/images/p6.png" alt="ring" style="width: 125px;" height="145px">
                                    </div>
                                    <div class="detail">
                                        <h6 style="float: left;">Flower Bouquet</h6>
                                        <h6 style="float: right;">Price <span>$70</span></h6>
                                    </div>
                                    <div class="new">
                                        <span>new</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box">
                            <div class="col">
                                <a href>
                                    <div class="imgbox">
                                        <img src="/images/p7.png" alt="ring" style="width: 110px;" height="145px">
                                    </div>
                                    <div class="detail">
                                        <h6 style="float: left;">Watch</h6>
                                        <h6 style="float: right;">Price <span>$400</span></h6>
                                    </div>
                                    <div class="new">
                                        <span>new</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box">
                            <div class="col">
                                <a href>
                                    <div class="imgbox">
                                        <img src="/images/p8.png" alt="ring" style="width: 100px;" height="145px">
                                    </div>
                                    <div class="detail">
                                        <h6 style="float: left;">Ring</h6>
                                        <h6 style="float: right;">Price <span>$450</span></h6>
                                    </div>
                                    <div class="new">
                                        <span>new</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Product images section -->
                    <!-- product button section -->
                    <div class="productsbtn">
                        <a href="#">View All Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of product section -->
    <!-- savings section start -->
    <div class="savingscontainer">
        <div class="savingsbox">
            <div class="savingscol">
                <div class="savingsimg">
                    <img src="/images/saving-img.png" alt="saving-img" style="height: 480px; width: 680px;">
                </div>
            </div>
            <div class="savingscol">
                <div class="savingscontent">
                    <div class="headingcontent">
                        <h2>Best Savings on<br>new arrivals</h2>
                    </div>
                    <p>Qui ex dolore at repellat, quia neque doloribus omnis adipisci, ipsum eos odio<br> fugit ut
                        eveniet blanditiis praesentium totam non nostrum dignissimos nihil<br> eius facere et eaque.
                        Qui, animi obcaecati.</p>
                    <div class="buybtns">
                        <a href="#" class="buy">Buy Now</a>
                        <a href="#" class="seemore">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- savings section end -->
    <!-- why shop section start -->
    <div class="whyshop">
        <div class="whyshopcontainer">
            <div class="shopheading">
                <h2>Why Shop With Us</h2>
            </div>
            <div class="shopcontent">
                <div class="shopcontentcol">
                    <div class="whyshopimg">
                        <img src="/images/truck.svg" alt="truck" style="height: 55px;" width="55px">
                    </div>
                    <div class="shopcontentpara">
                        <h5>Fast Delivery</h5>
                        <p>variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
                <div class="shopcontentcol">
                    <div class="whyshopimg">
                        <img src="/images/free.svg" alt="" style="height: 55px;" width="55px">
                    </div>
                    <div class="shopcontentpara">
                        <h5>Free Shiping</h5>
                        <p>variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
                <div class="shopcontentcol">
                    <div class="whyshopimg">
                        <img src="/images/high-quality.svg" alt="truck" style="height: 55px;" width="55px">
                    </div>
                    <div class="shopcontentpara">
                        <h5>Best Quality</h5>
                        <p>variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- why shop section end -->
    <!-- Gift section start -->
    <div class="giftsection">
        <div class="gitfimg">
            <img src="/images/gifts.png" alt="" style="width: 550px;" height="640px">
        </div>
        <div class="giftcontent">
            <div class="giftheading">
                <h2>Gifts for your<br>
                    loved ones</h2>
            </div>
            <p>Omnis ex nam laudantium odit illum harum, excepturi accusamus at corrupti, velit blanditiis unde<br>
                perspiciatis, vitae minus culpa? Beatae at aut consequuntur porro adipisci aliquam eaque iste<br>
                ducimus expedita accusantium?</p>
            <div class="giftsectionbtn">
                <a href="#" class="buy">Buy Now</a>
                <a href="#" class="seemore">See More</a>
            </div>
        </div>
    </div>
    <!-- Gift section end -->
    <!-- Contact section start -->
    <div class="contactsection">
        <div class="contactheading">
            <h2>Contact Us</h2>
        </div>
        <div class="contactcol">
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.991441025286!2d2.29190637596167!3d48.85837360070838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEiffel%20Tower!5e0!3m2!1sen!2sin!4v1727015528637!5m2!1sen!2sin"
                    width="718" height="520" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="clientsection">
                <form action="#">
                    <div>
                        <input type="text" class="name" placeholder="Name">
                    </div>
                    <div>
                        <input type="text" class="email" placeholder="Email">
                    </div>
                    <div>
                        <input type="text" class="phone" placeholder="Phone">
                    </div>
                    <div>
                        <input type="text" class="massege" placeholder="Massege">
                    </div>
                </form>
                <div class="sendbtn">
                    <button>SEND</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact section end -->
    <!-- Client section start -->
    <div class="Testimonialsection">
        <div class="Testimonialheading">
            <h2>Testimonial</h2>
        </div>
        <div class="Testimonialcontent">
            <div class="TestimonialLeftArrow">
                <a href=""><i class="fa fa-angle-left"></i></a>
            </div>
            <div class="Testimonialdetails">
                <div class="Testimonialnames">
                    <div class="slidernames">
                        <h5>Morijorch</h5>
                        <a href=""><i class="fa fa-quote-left" style="float: right;"></i></a>
                        <h6>Default model tex</h6>
                        <div class="Testiomonialpara">
                            <p>editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TestimonialRightArrow">
                <a href=""><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- Client section end -->
    <!-- information section start -->
    <div class="info">
        <div class="infosection">
            <div class="socialmedialinks">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-youtube"></i></a>
            </div>
            <div class="infodetails">
                <div class="infocol">
                    <h6 class="about">ABOUT US</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,</p>
                </div>
                <div class="infocol">
                    <h6 class="Newsletter">Newsletter</h6>
                    <input type="text" placeholder="Enter your email">
                    <button>Subscribe</button>
                </div>
                <div class="infocol">
                    <h6 class="NEEDHELP">NEED HELP</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,</p>
                </div>
                <div class="infocol">
                    <h6 class="CONTACT">CONTACT US</h6><br>
                    <a href=""><i class="fa fa-map-marker"></i>
                        <span>Gb road 123 london Uk</span></a><br>
                    <a href=""><i class="fa fa-phone"></i><span>
                            +01 12345678901</span></a><br>
                    <a href=""><i class="fa fa-envelope"></i><span>
                            demo@gmail.com</span></a>
                </div>
            </div>
            <div class="infopara">
                <hr>
                <p>© 2024 All Rights Reserved By Free Html Templates</p>
            </div>
        </div>
    </div>
    <!-- information section end -->
</body>

</html>